/**
 * player styles
 */

@font-face {
  font-family: "mcclatchy-sans-cond";
  src: url('https://mcclatchy.github.io/lexington/fonts/mcclatchy-sans-cond-demi.woff2') format('woff2');
}

.video-js .vjs-dock-text {
  bottom: 0;
  top: auto;
  text-align: center;
  padding: 1.5em 1em 40px;
  background: linear-gradient(to top,rgba(0,0,0,.9), rgba(0,0,0,.7) 85%,transparent 100%);
}

.video-js .vjs-dock-title {
  font-size: 52px;
  font-family: "mcclatchy-sans-cond", Helvetica;
  text-transform: uppercase;
  margin: 0;
  line-height: 1em;
}

.video-js .vjs-dock-description {
  font-size: 18px;
  font-family: "McClatchy Sans Cond", Helvetica;
}

@media (max-width: 600px) {
  .video-js .vjs-dock-title {
    font-size: 24px;
  }

  .video-js .vjs-dock-description {
    font-size: 13px;
  }
}
